:root {
  --animDuration: 0.6s;
}

.Nappi {
  flex: 1;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  padding: 0;
  font-size: 1.6em;
  border: 0;
  z-index: 1;
  background-color: rgba(0, 0, 0, 0);

  p {
    width: 100%;
    height: 100%;
    margin: 0;
    display: flex;
    flex: 1;
    align-items: center;
    justify-content: center;

    .SlideParagraph {
      transition: transform 0.2s;
    }
  }
  div {
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    position: absolute;
    background-image: linear-gradient(rgba(255, 255, 255, 0) 10%, rgba(255, 255, 255, 0.3) 100%);
    background-color: rgba(0, 0, 0, 0);
    opacity: 0;
    transition: opacity 0.2s;
  }
  .Caret {
    position: absolute;
    background-color: rgba(0, 0, 0, 0);
  }
}
.Nappi:hover {
  cursor: pointer;

  div {
    opacity: 1;
  }
}

.Nappi.Up:hover {
  p {
    span {
      transform: translateY(-2vh);
      transition: transform 0.2s;
    }
  }
}
.Nappi.Down {
  div {
    transform: rotateX(180deg);
  }
}
.Nappi.Down:hover {
  p {
    transform: translateY(1vh);
  }
}

.Uninitialized.Active {
  div {
    opacity: 1;
    transition: all 0.6s;
  }
}
.Initialized.Active {
  div {
    opacity: 1;
  }
}

.Active:hover {
  .Caret {
    polyline {
      opacity: 1;
    }
  }
  .ToFront {
    transform: translateY(1vh);
  }
}