:root {
  --height: 0px;
}

* {
  font-family: 'Barlow', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: rgb(0, 0, 0);
  color: white;
  font-weight: 100;
  font-style: italic;
}

.LangSelect {
  min-height: 20px;
  height: 35%;
  max-height: 25px;
  min-width: 20px;
  width: max-content;
  max-width: 60%;
  margin-right: 30px;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  justify-content: space-between;
  background-color: rgba(0, 0, 0, 0);

  p {
    margin: 0px 10px;
    background-color: rgba(0, 0, 0, 0);
  }
  span {
    height: 100%;
    aspect-ratio: 2 / 1;
    border-radius: 25%/50%;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    box-sizing: border-box;
    padding: 2px;
    box-shadow: 0px -1px 1px white;
    background-color: rgba(0, 0, 0, 0);
    background-image: linear-gradient(rgba(0, 0, 0, 0), rgba(255, 255, 255, 0.2));
    transition: all 1.5s;

    div {
      height: 100%;
      aspect-ratio: 1 / 1;
      box-shadow: 0px -1px 1px white;
      background-color: rgba(0, 0, 0, 0.3);
      border-radius: 50%;
      transition: all 0.3s;
    }
  }
  span:hover {
    cursor: pointer;
    transition: all 0.3s;
    div {
      background-color: rgba(255, 255, 255, 0.3);
    }
  }
  svg {
    margin-right: 10px;
    height: 80%;
  }
  .Disclaimer {
    margin-top: 15px;
    transition: all 0.5s;

    small {
      width: 50%;
      font-size: 0.7em;
    }
    img {
      width: 50%;
      background-color: rgba(0, 0, 0, 0);
      filter: invert(100%) brightness(200%);
    }
  }
}
.LangSelect-enter-done {
  span {
    transition: all 0.5s;

    div {
      transform-origin: 0% 0%;
      transform: translateX(calc(100% + 4px));
    }
  }
}

// MOBILE VIEW
@media only screen and (max-width: 600px) {
  .LangSelect {
    max-width: 100%;
    margin-right: auto;
    flex-wrap: wrap;
    // position: relative;

    .Disclaimer {
      top: 10%;
      left: 0;
      margin: 0;
      position: absolute;
      width: calc(100% - 20px);
      margin-left: 10px;
      height: min-content !important;
      justify-content: center;
      background-image: linear-gradient(rgba(255, 255, 255, 0.3) 10%, rgba(255, 255, 255, 0) 100%);
      opacity: 0;
      transition: all 0.5s;

      small {
        width: max-content;
        font-size: 1em;
        background-color: rgba(0, 0, 0, 0);
      }
      img {
        width: 20%;
        max-height: 80px;
      }
    }
    .Fade {
      opacity: 1;
      transition: all 0.5s;
    }
  }
}