.SlideParagraph {
  display: flex;
  flex: 1;
  align-items: center;
  justify-content: center;
  background-color: rgba(0, 0, 0, 0);

  * {
    background-color: rgba(0, 0, 0, 0);
    position: absolute;
    transition: all 1s;
    white-space: nowrap;
  }
}

// .SlideParagraph.Uninitialized {
  .Previous {
    animation: previous 1s;
    transform: translateY(0%);
    opacity: 1;
    transition: transform 1s;
  }
  .Upcoming {
    animation: upcoming 1s;
    transform: translateY(0%);
    opacity: 0;
    transition: transform 0s;
  }
// }
// .SlideParagraph.Initialized {
//   .Previous {
//     transform: translateY(100%);
//     opacity: 0;
//     transition: all 1s;
//   }
//   .Upcoming {
//     transform: translateY(0%);
//     opacity: 1;
//     transition: all 1s;
//   }
// }

@keyframes previous {
  from {
    transform: translateY(0%);
    opacity: 1;
    transition: all 1s;
  }
  to {
    transform: translateY(100%);
    opacity: 0;
    transition: all 1s;
  }
}
@keyframes upcoming {
  from {
    transform: translateY(-100%);
    opacity: 0;
    transition: all 1s;
  }
  to {
    transform: translateY(0%);
    opacity: 1;
    transition: all 1s;
  }
}